.sidebar {
    padding: 1.5rem 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .logo {
    width: 2rem;
    height: 2rem;
}

.sidebar .main-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .main-navigation a {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    font-size: 1.25rem;
    font-weight: 700;
}

.sidebar .main-navigation a.active {
    color: var(--twitter-blue);
}

.sidebar .main-navigation a svg {
    width: 2rem;
    height: 2rem;
}

.sidebar .new-tweet {
    width: 100%;
    border-radius: 9999px;
    padding: 1rem;
    border: 0;
    
    display: flex;
    justify-content: center;
    
    background-color: var(--twitter-blue);
    color: #fff;

    font-size: 1.25rem;
    font-weight: 900;

    transition: 0.3s;
}

.sidebar .new-tweet:hover {
    filter: brightness(0.8);
}